@model IEnumerable<StatisticalTracker.Models.ContestModel>
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div>
    @using (Html.BeginForm("ContestResults", "Wager", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input name="uploadFiles[]" id="uploadFile" type="file" multiple />
        <br />
        <input type="submit" id="upload" value="Upload File(s)" title="Upload file" onclick=" return checkfilename(); " />
    }
</div>
